<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="properties" class="com.jwm.stockwatch.PropertiesLoaderImpl">
		<constructor-arg index="0"
			value="/Users/Jeff/JeffsFiles/SoftwareDevelopment/apps/StockWatch/resources/app.properties" />
	</bean>
	
	<bean id="unitPriceFileService" class="com.jwm.stockwatch.service.UnitPriceServiceFileImpl">
		<constructor-arg index="0" ref="properties"/>
	</bean>

	<bean id="fetcherGoogleFinance" class="com.jwm.stockwatch.fetcher.FetcherFromGoogleFinanceImpl">
		<constructor-arg index="0" ref="properties"></constructor-arg>
	</bean>

	<bean id="fetcherQuicken" class="com.jwm.stockwatch.fetcher.FetcherFromQuickenImpl">
		<constructor-arg index="0" ref="properties"></constructor-arg>
	</bean>


	<bean id="notifierEmail" class="com.jwm.stockwatch.notifier.NotifierEmailSmtp">
		<constructor-arg index="0" ref="properties" />
	</bean>

	<bean id="priceProcessor" class="com.jwm.stockwatch.processor.ProcessorImpl">
		<constructor-arg index="0" ref="notifierEmail" />
		<constructor-arg index="1" value="0.01" />
	</bean>

	<bean id="app" class="com.jwm.stockwatch.App">
		<constructor-arg index="0" ref="properties" />
		<constructor-arg index="1" ref="fetcherQuicken" />
		<constructor-arg index="2" ref="priceProcessor" />
		<constructor-arg index="3" ref="unitPriceFileService"/>
	</bean>

</beans>